@charset "utf-8";
/* CSS Document 
html{height:100%}
body{margin:0; height:100%; padding:0; font-family:"微软雅黑"; background:url(img/wallpaper.png); background-size:100% 100%; overflow:hidden}
img{border:0; position:absolute}
a{text-decoration:none; color:inherit}
div{position:absolute}
*/
#layoutwarp{width:1000px; height:560px; left:50%; top:50%; margin:-280px 0 0 -530px}
.s{width:22px; height:22px; background:url(img/pumpstatus_back.png)}
.p1_run{left:836px; top:256px; width:30px; height:15px; background:url(img/p1.gif)}
.p2_run{left:801px; top:284px; width:30px; height:15px; background:url(img/p2.gif)}