@{
    ViewBag.Title = "NotFound";
    var F = @Html.F();
}


@section body {
    <div style="text-align: center; ">
        <img style="margin-top: 50px;" src="~/res/images/shuichang.png" />
    </div>
}

