<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="FineUIMvc" type="FineUIMvc.ConfigSection, FineUIMvc" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DBContext" connectionString="Password=Panda1216;Persist Security Info=True;User ID=sa;Initial Catalog=NewPumpMVC;Data Source=192.168.1.30" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!-- 可用的配置项（这里列的都是默认值）: 
      Theme="Default" 
      Language="zh_CN" 
      DebugMode="false"
      FormMessageTarget="Qtip" 
      FormOffsetRight="0" 
      FormLabelWidth="100" 
      FormLabelSeparator="：" 
      FormLabelAlign="Left" 
      FormRedStarPosition="AfterText" 
      EnableAjax="true" 
      EnableAjaxLoading="true" 
      AjaxTimeout="120" 
      AjaxLoadingType="Default" 
      AjaxLoadingText="" 
      ShowAjaxLoadingMaskText=false
      AjaxLoadingMaskText="" 
      CustomTheme="" 
      CustomThemeBasePath="~/res/themes" 
      IconBasePath="~/res/icon" 
      JSBasePath="~/res/js"
      IEEdge="true"
      EnableShim="false"  
      EnableCompactMode="false"
      EnableLargeMode="false"
      MobileAdaption="true"
      EnableAnimation="false"
      LoadingImageNumber="1"
  -->
  <FineUIMvc DebugMode="true" Theme="Cupertino" CustomTheme="bootstrap_pure" CustomThemeBasePath="~/res/themes" />

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="connectionStr" value="USER ID=sa;PASSWORD=Panda1216;INITIAL CATALOG=NewPumpMVC;DATA SOURCE=192.168.1.30;CONNECT TIMEOUT=30" />
  </appSettings>
  <system.web>
    <customErrors mode="On" defaultRedirect="Error.html">
      <error statusCode="404" redirect="Error.html" />
    </customErrors>
    <httpModules>
      <add name="FineUIMvcScriptModule" type="FineUIMvc.ScriptModule, FineUIMvc" />
    </httpModules>
    <httpHandlers>
      <add verb="GET" path="res.axd" type="FineUIMvc.ResourceHandler, FineUIMvc" />
    </httpHandlers>
    <authentication mode="Forms">
      <forms loginUrl="~/Login" defaultUrl="~/Home" timeout="120" protection="All" path="/" />
    </authentication>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <location path="~/MobileText">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer><system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
        <binding name="BasicHttpBinding_IService11" />
        <binding name="BasicHttpBinding_IService12" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.48:14001/Service1/panda" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="SetCommandService.IService1" name="BasicHttpBinding_IService1" />
      <endpoint address="http://192.168.1.48:14003/Service1/panda" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11" contract="SetCommand2Service.IService1" name="BasicHttpBinding_IService11" />
      <endpoint address="http://192.168.1.151:14001/Service1/panda" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService12" contract="FaMenService.IService1" name="BasicHttpBinding_IService12" />
    </client>
  </system.serviceModel>
</configuration>
