
@{
    ViewBag.Title = "FM_selectFmName";
    var F = @Html.F();
}
@section head {
    <title>阀门</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/res/YCJK/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="~/res/YCJK/css/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" type="text/css" href="~/res/CDJK/css/SelectTFname.css" />
    <script src="~/res/YCJK/js/jquery-2.1.0.js"></script>
    <script type="text/javascript" src="~/res/YCJK/js/laydate.js"></script>
    <script type="text/javascript" src="~/res/YCJK/js/jquery-ui-1.10.4.min.js"></script>
    <script type="text/javascript" src="~/res/YCJK/js/jquery.mousewheel.js"></script>
    <script src="~/res/layer/layer.js"></script>
}
@section body {
    <div id="tableWrap">
        <div class="list_header .clearfix">
            <button class="searchBtn">搜索</button>
            <div class="TFnameSearch">
                <input id="tableSearchText" class="searchText" type="text" placeholder="测点名称" />
            </div>
        </div>
        <div class="list_table">
            <div class="table1_wrap">
                <table class="myTable table1">
                    <thead>
                        <tr>
                            <th></th>
                            <th>编号</th>
                            <th>阀门名称</th>
                            <th>采集时间</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                @*<div class="setBtn"></div>*@
            </div>
            <div class="table2_wrap">
                <table class="myTable table2">
                    <thead>
                        <tr>
                            <th></th>
                            <th>编号</th>
                            <th>阀门名称</th>
                            <th>采集时间</th>
                        </tr>
                    </thead>
                    <tbody>
                      
                    </tbody>
                </table>
            </div>
        </div>

        <div class="page_wrap">
            <div class="page_box">
                <a id="firstPage" href="#">&lt;&lt;</a>
                <a id="prevPage" href="#">&lt;</a><a id="currentPage" href="#">1</a><a href="#">/</a><a id="totalPage" href="#">100</a><a id="nextPage" href="#">&gt;</a><a id="lastPage" href="#">&gt;&gt;</a>
                <span>每页</span><a id="pageSize" href="#">10</a><input type="text" id="editPageIndex" /><span>条，共</span><a id="totalNum" href="#">12222</a><span>条</span>
            </div>
        </div>
    </div>
}

@section script {
    <script type="text/javascript" src="~/res/CDJK/js/FM_selectFmName.js"></script>
    <script type="text/javascript" src="~/res/YCJK/js/jquery.mCustomScrollbar.js"></script>
}






