
@{
    ViewBag.Title = "TF_runLog";
    var F = @Html.F();
}
@section head {
    <title>调峰泵站运行日志</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/res/YCJK/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="~/res/YCJK/css/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" type="text/css" href="~/res/CDJK/css/TF_reportWaterInOutPress.css" />
    <link rel="stylesheet" type="text/css" href="~/res/CDJK/css/TFBengZhan.css" />
    <script src="~/res/YCJK/js/jquery-2.1.0.js"></script>
    <script src="~/res/js/echarts.min.js"></script>
    <script src="~/res/layer/layer.js"></script>   
    <script type="text/javascript" src="~/res/YCJK/js/laydate.js"></script>
}

@section body {
    <div class="chart_mainWrap">
        <div class="header_wrap clearfix">
            <div class="searchCriteria">
                <div class="select_wrap"><input type="text" class="TFname" placeholder="调峰名称" readonly="readonly" /><i class="selectBtn"></i></div>
            </div>
            <span class="exportBtn">导出</span>
            <button class="chart_searchBtn">搜索</button>
            <div class="searchTime">
                <input id="startTime" type="text" />
                <span>- -</span>
                <input id="endTime" type="text" />
            </div>
            <div class="selectDiagWrap">
                <div class="selectedWrap">
                    <input type="text" />
                    <div class="triangleWrap"></div>
                </div>
                <ul class="selectMenu hide">
                    <li class="active" data-key="today"><a href="#">今天</a></li>
                    <li data-key="yestoday"><a href="#">昨天</a></li>
                    <li data-key="bYestoday"><a href="#">前天</a></li>
                    <li data-key="today0-6"><a href="#">今日(0-6时)</a></li>
                    <li data-key="today6-12"><a href="#">今日(6-12时)</a></li>
                    <li data-key="today12-y0"><a href="#">今日(12-次日凌晨)</a></li>
                </ul>
            </div>
        </div>

            <div class="list_table">
                <div class="table1_wrap">
                    <table class="myTable table1">
                        <thead>
                            <tr>
                                <th></th>
                                <th>调峰编号</th>
                                <th>采集时间</th>
                                <th>调峰名称</th>
                                <th>进水压力(MPa)</th>
                                <th>进出累积流量(m³)</th>
                                <th>蓄水流量(m³/h)</th>
                                <th>水箱容积(m³)</th>
                                <th>出水流量(m³/h)</th>
                                <th>蓄满时间(h)</th>
                                <th>储水总量(m³)</th>
                                <th>调峰水量(m³)</th>
                                <th>调节比例(%)</th>
                                <th>储水比例(%)</th>
                                <th>调峰能力(min)</th>
                                <th>滞留时间(h)</th>
                                <th>水箱液位(m)</th>
                                <th>日调峰量(m³)</th>
                                <th>调控状态</th>
                                <th>流量阀远程控制</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="table2_wrap">
                    <table class="myTable table2">
                        <thead>
                            <tr>
                                <th></th>
                                <th>调峰编号</th>
                                <th>采集时间</th>
                                <th>调峰名称</th>
                                <th>进出水压力(MPa)</th>
                                <th>进出累积流量(m³)</th>
                                <th>蓄水流量(m³/h)</th>
                                <th>水箱容积(m³)</th>
                                <th>出水流量(m³/h)</th>
                                <th>蓄满时间(h)</th>
                                <th>储水总量(m³)</th>
                                <th>调峰水量(m³)</th>
                                <th>调节比例(%)</th>
                                <th>储水比例(%)</th>
                                <th>调峰能力(min)</th>
                                <th>滞留时间(h)</th>
                                <th>水箱液位(m)</th>
                                <th>日调峰量(m³)</th>
                                <th>调控状态</th>
                                <th>流量阀远程控制</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>采集时间</td>
                                <td>进出水压力(MPa)</td>
                                <td>进出水流量(m³)</td>
                                <td>蓄水流量(m³/h)</td>
                                <td>水箱容积(m³)</td>
                                <td>出水流量(m³/h)</td>
                                <td>蓄满时间(h)</td>
                                <td>储水总量(m³)</td>
                                <th>调峰水量(m³)</th>
                                <td>调节比例(%)</td>
                                <td>储水比例(%)</td>
                                <td>调峰能力(min)</td>
                                <td>滞留时间(h)</td>
                                <td>水箱液位(m)</td>
                                <td>日调峰量(m³)</td>
                                <td>调控状态</td>
                                <td>流量阀远程控制</td>
                                <td>流量阀远控开度(%)</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>采集时间</td>
                                <td>11</td>
                                <td>11</td>
                                <td>12345</td>
                                <td>345567</td>
                                <td>t556</td>
                                <td>455</td>
                                <td>67767</td>
                                <td>8989</td>
                                <td>67</td>
                                <td>2345</td>
                                <td>2345</td>
                                <td>12</td>
                                <td>12</td>
                                <td>345</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr class="active">
                                <td></td>
                                <td>002</td>
                                <td class="equipName"><i class="status_2"></i><a>测试设备1</a></td>
                                <td>2017-04-21</td>
                                <td class="inOutPress"><span class="pressIn alarm">6.24</span><span class="pressOut">0.68</span></td>
                                <td class="pumpStatus"><span class="onSta"></span><span class="offSta"></span><span class="alarmSta"></span></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>003</td>
                                <td class="equipName"><i class="status_2"></i><a>测试设备1</a></td>
                                <td>2017-04-21</td>
                                <td class="inOutPress"><span class="pressIn alarm">6.24</span><span class="pressOut">0.68</span></td>
                                <td class="pumpStatus"><span class="onSta"></span><span class="offSta"></span><span class="alarmSta"></span></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>003</td>
                                <td class="equipName"><i class="status_2"></i><a>测试设备1</a></td>
                                <td>2017-04-21</td>
                                <td class="inOutPress"><span class="pressIn alarm">6.24</span><span class="pressOut">0.68</span></td>
                                <td class="pumpStatus"><span class="onSta"></span><span class="offSta"></span><span class="alarmSta"></span></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>003</td>
                                <td class="equipName"><i class="status_2"></i><a>测试设备1</a></td>
                                <td>2017-04-21</td>
                                <td class="inOutPress"><span class="pressIn alarm">6.24</span><span class="pressOut">0.68</span></td>
                                <td class="pumpStatus"><span class="onSta"></span><span class="offSta"></span><span class="alarmSta"></span></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>003</td>
                                <td class="equipName"><i class="status_2"></i><a>测试设备1</a></td>
                                <td>2017-04-21</td>
                                <td class="inOutPress"><span class="pressIn alarm">6.24</span><span class="pressOut">0.68</span></td>
                                <td class="pumpStatus"><span class="onSta"></span><span class="offSta"></span><span class="alarmSta"></span></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>003</td>
                                <td class="equipName"><i class="status_2"></i><a>测试设备1</a></td>
                                <td>2017-04-21</td>
                                <td class="inOutPress"><span class="pressIn alarm">6.24</span><span class="pressOut">0.68</span></td>
                                <td class="pumpStatus"><span class="onSta"></span><span class="offSta"></span><span class="alarmSta"></span></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="page_wrap">
                <div class="page_box">
                    <a id="firstPage" href="#">&lt;&lt;</a>
                    <a id="prevPage" href="#">&lt;</a><a id="currentPage" href="#">1</a><a href="#">/</a><a id="totalPage" href="#">100</a><a id="nextPage" href="#">&gt;</a><a id="lastPage" href="#">&gt;&gt;</a>
                    <span>每页</span><a id="pageSize" href="#">10</a><input type="text" id="editPageIndex" /><span>条，共</span><a id="totalNum" href="#">12222</a><span>条</span>
                </div>
            </div>
        
    </div>
}
@section script {
    <script type="text/javascript" src="~/res/CDJK/js/TF_runLog.js"></script>
    <script type="text/javascript" src="~/res/YCJK/js/jquery.mCustomScrollbar.js"></script>
}
