@{
    ViewBag.Title = "shebeiFrame";
    var F = @Html.F();
}

@section head {

<title>设备页面</title>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="~/res/YCJK/css/reset.css" />
<link rel="stylesheet" type="text/css" href="~/res/YCJK/css/jquery.mCustomScrollbar.min.css" />
<script src="~/res/YCJK/js/jquery-2.1.0.js"></script>
<script src="~/res/YCJK/js/lowCan.js"></script>


}

@section body {
<div class="highWrap active">
    <div class="threeToTwo clearfix">
        <div class="threeToTwoWrap clearfix">
            <div class="threeBtn">3D</div>
            <div class="threeToTwoPic"></div>
            <div class="twoBtn">2D</div>
        </div>
    </div>
    <div class="threeSection">
        <div class="threePicBox">
            <div class="layoutwarp" id="layoutwarp"></div>
        </div>
    </div>
    <div class="twoSection">
        <div class="twoPicBox">
            <div class="" id=""></div>
        </div>
    </div>
</div>
}
@section script {
<script src="~/res/YCJK/js/bengfangSheBeiMain.js"></script>
<script src="~/res/YCJK/js/jquery.mCustomScrollbar.js"></script>
<script src="~/res/YCJK/js/jquery.mousewheel.js"></script>
}
