@{
    ViewBag.Title = "预警报警";
    var F = @Html.F();
}
@section head {
    <meta charset="UTF-8">
<link rel="stylesheet" href="~/res/YCJK/css/reset.css" />

<link rel="stylesheet" href="~/res/YCJK/css/jquery-ui.min.css" />
<link rel="stylesheet" href="~/res/YCJK/css/WarningAlarm.css" />
<link rel="stylesheet" href="~/res/YCJK/css/jquery.mCustomScrollbar.min.css" />
<script type="text/javascript" src="~/res/YCJK/js/jquery-2.1.0.js"></script>
<script type="text/javascript" src="~/res/YCJK/js/echarts.min.js"></script>
<script type="text/javascript" src="~/res/YCJK/js/laydate.js"></script>
<script type="text/javascript" src="~/res/YCJK/js/jquery-ui-1.10.4.min.js"></script>
<script type="text/javascript" src="~/res/YCJK/js/jquery.mousewheel.js"></script>
<script src="~/res/layer/layer.js"></script>
}

@section body {
    <div class="main_wrap clearfix">
    <div class="list_wrap">
      
        <div class="list_header .clearfix">
            <ul class="searchCriteria">
                <li class="pumpName"><input type="text" placeholder="泵房名称" readonly="readonly" /><i class="selectBtn"></i></li>
                <li class="machName"><input type="text" placeholder="机组名称" readonly="readonly" /><i class="selectBtn"></i></li>
            </ul>
            <div class="search_box">
                <button class="searchBtn">搜索</button>
            </div>
            <div class="searchTime">
                <input id="startTime" type="text" />
                <span>- -</span>
                <input id="endTime" type="text" />
            </div>
        </div>
        <div class="list_table clearfix">
            <div class="alarmList_wrap">
                <p class="alarm_title">及时报警</p>
                <div class="alarmListScroll_wrap">
                    <ul class="ul_alarmList">
                    </ul>
                </div>
            </div>
            <div class="detailAlarm_wrap">
                <div class="table1_wrap">
                    <table class="myTable table1">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="PName">泵房名称</th>
                                <th class="PumpJZName">机组名称</th>
                                <th class="FSetMsg">报警信息</th>
                                <th class="FAlarmTime">报警时间</th>
                                <th class="FEndAlarmTime">结束时间</th>
                                <th class="CXTime">持续时间</th>
                                <th class="TypeName">状态</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <div class="table2_wrap">
                    <table class="myTable table2">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="PName">泵房名称</th>
                                <th class="PumpJZName">机组名称</th>
                                <th class="FSetMsg">报警信息</th>
                                <th class="FAlarmTime">报警时间</th>
                                <th class="FEndAlarmTime">结束时间</th>
                                <th class="CXTime">持续时间</th>
                                <th class="TypeName">状态</th>
                            </tr>
                        </thead>
                        <tbody>
                         
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
         
        <div class="page_wrap">
            <div class="page_box">
                <a id="firstPage" href="#">&lt;&lt;</a>
                <a id="prevPage" href="#">&lt;</a><a id="currentPage" href="#">1</a><a href="#">/</a><a id="totalPage" href="#">100</a><a id="nextPage" href="#">&gt;</a><a id="lastPage" href="#">&gt;&gt;</a>
                <span>每页</span><a id="pageSize" href="#">10</a><input type="text" id="editPageIndex" /><span>条，共</span><a id="totalNum" href="#">12222</a><span>条</span>
            </div>
        </div>

    </div>
    
</div>
}
@section script {
<script type="text/javascript" src="~/res/YCJK/js/WarningAlarm.js"></script>
<script type="text/javascript" src="~/res/YCJK/js/jquery.mCustomScrollbar.js"></script>
}