a,a:active {
    text-decoration: none;
}
.main_wrap{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.list_wrap{
	/*margin-left: 32px;*/
	height: 100%;
	/*border: 1px solid red;*/
	padding-right: 12px;
	padding-left: 8px;
	
	background-color: #f2f3f7;
	position: relative;	
}
.list_header{
	padding: 16px;
	height: 54px;
	
}
ul.searchCriteria{
    height: 30px;
    float: left;
}
.searchCriteria li{
    float: left;
    margin-right: 4px;
     height: 30px;
	border: 1px solid #d0d5d9;
	border-radius: 14px;	
	padding:0px 10px;	
	background-color: #fff;
    vertical-align: middle;
    position:relative;
}
.searchCriteria li input{
   border: none;
	height: 28px;
    width: 186px;
	line-height: 28px;
    padding-right: 14px;
	outline: none;
    border-radius: 12px;
   text-indent: 2px;
    font-size: 12px;
	font-family: "微软雅黑";
    
}
.searchCriteria li .selectBtn{
    display: inline-block;
    width: 18px;
    height: 24px; 
    background: url(../img/loopSearch.png) no-repeat 0px 2px;
    position: absolute;
    top: 2px;
    right: 6px;
    cursor: pointer;
}
.searchTime{
    height: 30px;
    margin-right: 30px;
    float: right;
}
.searchTime input{
    height: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    color: #a0a0a0;
    font-size: 12px;
    font-family: "微软雅黑";
    text-indent: 4px;
}
.searchTime span{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    color: #a2a0a0;
}
.search_box{
	float: right;
}
/*.search_wrap{	
	height: 30px;
	border: 1px solid #d0d5d9;
	border-radius: 14px;	
	padding: 2px;
	margin-right: 8px;
	float: left;
	background-color: #fff;
}
    .search_wrap input{
	border: none;
	height: 24px;
    width: 160px;
	line-height: 24px;
	outline: none;
    border-radius: 12px;
	vertical-align: middle;
    font-size: 12px;
	font-family: "微软雅黑";
    background: url(../img/loopSearch.png) no-repeat 136px 2px;
}
.search_wrap button{
	border: none;
	display: inline-block;
	height: 24px;
	line-height: 24px;		
	font-size: 12px;
	font-family: "微软雅黑";
	margin-right: 1px;
	padding-right: 10px;
	padding-left: 25px;
	color: #bfc6ca;
	cursor: pointer;
	vertical-align: middle;
	background: url(../img/normalOnlineAndOff.png)  no-repeat  #e7e7e7 ;
	background-repeat: no-repeat;
	outline: none;
}
button.onlineBtn{
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	-moz-border-radius-topleft: 12px;
	background-position:5px 5px;
	
}
button.offlineBtn{
	background-position:-48px 5px;
}
button.alarmBtn{
	background-position:-101px 5px;
}
button.showAllBtn{
	background-position:-156px 5px;
}
.onlineBtn.active,.offlineBtn.active,.alarmBtn.active, .showAllBtn.active{
	background-image: url(../img/btnsIco.png);
}
.search_wrap button:hover{
    background-image: url(../img/btnsIco.png);
	background-color: #438eb9;
	color: #fff;
}
button.active{
	background-color: #438eb9;
	color: #fff;
}*/
button.searchBtn{
	height: 28px;
	line-height: 28px;	
	border-radius: 14px;	
	background-color: #3683af;
	border: none;
	padding: 0 14px;
	color: #fff;
	font-size: 12px;
	font-family: "微软雅黑";
	outline: none;
	cursor: pointer;
}
span.exportBtn{
    padding: 5px 10px;
    text-align: center;
    width: 40px;
    background-color: #3683af;
    border-radius: 5px;
    color: #ffffff;
    cursor:pointer;
    font-size: 12px;
	font-family: "微软雅黑";
}
/*.wrap_listTable{
}*/
.list_table{
	border-top: 2px solid #438eb9;
	width: 100%;
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
	margin-bottom: 3px;	
   position: relative;
}
.table1_wrap{
	width: 100%;
    height: 34px;
	overflow: hidden;	
    position: absolute;
    top:0;
    z-index: 2;
}
.myTable{
	width: 100%;
	border-collapse: collapse;
	min-width: 760px;
}
.table1{
	position: relative;
}
.table2_wrap{
	/*height: 240px;*/
    /*width: 100%;*/
	background-color: #fff;
	overflow: auto;
}
.myTable tr{
	width: 100%;
	height:34px;
}
.myTable th{
    padding-left: 5px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #e5e5e5;
	color: #676767;
	font-size: 12px;
    font-family: "微软雅黑";
    text-align: left;
    min-width: 100px;
}
.myTable td{
	text-align: left;
	border-bottom: 1px dashed #e8e8e8;
	background-color: #fff;
	color: #676767;
	font-size: 12px;
    font-family: "微软雅黑";
    padding-left: 3px;
    min-width: 100px;
}
.myTable th:first-child,.myTable tr td:first-child,.myTable th.pumpID,.myTable th.pumpJZId,.myTable td[data-id=pumpID],.myTable td[data-id=pumpJZId]{
    display: none;
}
.myTable th.PumpJZName,.myTable td[data-id=PumpJZName],.myTable th.PumpName,.myTable td[data-id=PumpName]{
    min-width: 140px;
}
.myTable th.DTUCode,.myTable td[data-id=DTUCode]{
    min-width: 120px;
   
}
.myTable th.FUpdateDate,.myTable td[data-id=FUpdateDate]{
   min-width: 140px;
     padding-left: 5px;
}
.myTable th.InOutWaPa,.myTable td[data-id=InOutWaPa]{
    min-width: 140px;
}
.myTable th.F41702,.myTable td[data-id=F41702]{
   min-width: 130px;
}
.myTable th.F41053,.myTable td[data-id=F41053]{
        min-width: 90px;
}
.myTable th.F41089,.myTable td[data-id=F41089],.myTable th.F41092,.myTable td[data-id=F41092],.myTable th.F41098,.myTable td[data-id=F41098],.myTable th.F41100,.myTable td[data-id=F41100]{
    min-width: 80px;
}
.myTable th.F41024,.myTable td[data-id=F41024],.myTable th.F41025,.myTable td[data-id=F41025],.myTable th.FTotalOutLL,.myTable td[data-id=FTotalOutLL],.myTable th.F41014,.myTable td[data-id=F41014],.myTable th.F41057,.myTable td[data-id=F41057],.myTable th.F41069,.myTable td[data-id=F41069],.myTable th.F41075,.myTable td[data-id=F41075],.myTable th.F41063,.myTable td[data-id=F41063],.myTable th.F41081,.myTable td[data-id=F41081]{
    min-width: 130px;
}
.myTable td.equipName a{
	display: inline-block;
	height: 100%;	
}
.myTable td.equipName i{
	display: inline-block;
	width: 16px;
	height: 100%;
	background: url(../img/onOffAlarmIco.png) no-repeat;	
}
td.equipName i.status_1{
	background-position: -1px 18px;
}
td.equipName i.status_0{
	background-position: -1px -30px;
}
td.equipName i.status_2{
	background-position: -1px -90px;
}
/*.myTable th:last-child,.myTable td:last-child{
	width: 50px;
}*/
.myTable tr.active td{
	background-color: #e0f4ff;
}
.myTable tr:hover td{
	background-color: #e0f4ff;
}


.inOutPress span{
	display: inline-block;
	padding: 5px 10px;
	background-color: #ececec;
	color: #676767;
	border-radius: 2px;
	margin-right: 5px;
}
.pumpStatus span{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	background: url(../img/pumpStatus.png) no-repeat;
}
.pumpStatus span.onSta{
	background-position: 0px 0px;
}
.pumpStatus span.offSta{
	background-position: -52px 0px;
}
.pumpStatus span.alarmSta{
	background-position: -26px 0px;
}
.inOutPress span.alarm{
	background-color: #ffead9;
	color: #ff6f03;
}
.setBtn{
	width: 14px;
	height: 14px;
	background: url(../img/setIco.png) no-repeat 0 0;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
	/*margin: 0 auto;*/
}
.page_wrap{
	background-color: #FFFFFF;
	width: 100%;
	height: 44px;
	position: absolute;
	right: 12px;
	bottom: 20px;
}
.page_box{
	float: right;
	margin-top: 10px;
	padding-right: 16px;
}
.page_box span{
    font-size: 12px;
    font-family: "微软雅黑";
}
.page_box a{
	display: inline-block;	
	color: #8f9092;
	font-size: 12px;
	font-family: "微软雅黑";
	text-align: center;
	padding: 4px;
    font-weight: bold;
}
.page_box a:hover{
	color: #438eb9;
}
.page_box span{
	color: #8f9092;
}
.page_box #lastPage{
	margin-right: 20px;
}
.page_box #currentPage,.page_box #pageSize,.page_box #totalNum{
	color: #438eb9;
}
#editPageIndex{
    width: 20px;
    font-size: 12px;
    font-family: "微软雅黑";
    display: none;
}
/*.chart_wrap{
	width: 356px;
	height: 100%;	
	position: absolute;
	top: 0;
	right: 0;
	border-left: 3px solid #438eb9;
}
#showHideBtn{
	width: 3px;
	height: 48px;
	position: absolute;
	top: 50%;
	left: -3px;
	margin-top: -24px;
	background-color: rgba(250,250,250,0.6);
	cursor: pointer;
}
#showHideBtn:after{
	content:"";
	display: block;
	height: 0;
	width: 0;
	border: 3px solid #438eb9;
	border-top:3px solid transparent;
	border-right:3px solid transparent;
	border-bottom:3px solid transparent;
	position: absolute;
	top: 50%;
	margin-top: -1px;
	
}*/
